/* Footer Styles */
.footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
  }
  
  .footer-icon {
    font-size: 24px; /* Adjust icon size as needed */
    margin: 0 100px; /* Adjust spacing between icons */
    cursor: pointer;
    color: #fff; /* Icon color */
  }
  